body {
    background-color: #919191;
}
#classe{
    background: orange;
}

div p{
    color: purple;
}

h1{
    color: #1200e2;
}
#paragr{
    background-color: red;
}
.email{
    border: 2px dashed yellow;
}



h2{
    color: yellow;
}
li{
    color: green;
}
.classe{
    background-color: orange;
}



