html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}
/* Utility */
.btn{
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #333;
    padding: 13px 18px;
    border: none;
  
}
.btn:hover{
    background: orange;
    color: #333;

}

.btn-light{
    background: #bbb;
    color: black;
}




/* Navbar */

#navbar{
    background: #555;
}


#navbar  .container{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
#navbar  .container ul{
    display: flex;
    padding-right: 1rem;

    
}
#navbar  .container ul li{
    list-style: none;
    
    

}

#navbar  .container ul li a{
padding: 20px;
display: block;


}


#navbar  .container h1{
    text-transform: uppercase;
    padding-left: 1rem;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background:#444 ;
    color: orange;
}

/* Section 1 */

#showcase .container {
    display: flex;
    flex-direction: column; 
    height: 90vh;
    background-image: url(https://medialamborghini-meride-tv.akamaized.net/meride/lamborghini/video/images/folder1/694/VIDEO_HEADER_HURACAN_EVO_RWS_SPY_02.jpg) ;
    
    justify-content: center;
    align-items: center;

}
#white{
    color: #fff;
    font-size: large;
    padding: 0 20px;
    text-align: justify;
}
#showcase .container h1{
    color: #fff;
    font-size: xx-large;
    padding-bottom: 1rem;
}
    #showcase .container p{

        padding-bottom: 2rem;
    }

    .color-primary{
    color: orange;
}

/* Section 2 */

#showcase-2 .container{
    display: flex;
    height: 335px;
background: #333;


}
#showcase-2 .container .image{
    background: url(https://lh3.googleusercontent.com/proxy/IJdjF2Bd1BaVJKhndIB0F6VWcxEpQEutkueZNY32zuqiJF3yM_4-BsEsgDWQzcdUE0hw9avIAznnlPkYQGEgS9wfFDvwy2J2dosGGT_2JwOKCqXdwTypaT4lTuVtm_9HyTLLPUm7GpEyDEaZPqqrExTGOw) no-repeat;
    flex: 1;
    ;
    

}
#showcase-2 .container .section-text{
   display: flex;
   flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #fff;

}
#colorenero{
    color: #fff;
    text-align: justify;
    padding: 0 20px;
    
}
#secondotitolo{
    text-align: center;
}
.text-primary{
    color: orange;
}

/* Section 3 */

#showcase-3{
   display: flex;
    /* height: 300px; */
    align-items: center;
    text-align: center;
}
.bow-white{
    background: white;
   
}
.box-orange{
    background: orange;
    
}
.box{
    flex: 1 ;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#showcase-3 i {
    padding-bottom: 20px;
}
#showcase-3 h3{
    padding-bottom: 30px;
}
/* Footer */
#footer{
    background: black;
    padding: 20px;
    color: white;
    text-align: center;

}

/* About info */

#about-info .container{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    

}
#about-info img{
    max-width: 500px;
    max-height: 450px; 
    border-radius: 30%;
}

#about-info .info-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;    
}

.info-left span{
    margin-right: 5px;
}

#about-info .info-right{
    flex: 1;
    display: flex;
    justify-content: center;
}
#le-nostre-auto{
    display: flex;
    flex: 1;
    justify-content: center;
   align-items: center;
}
.info-left p {
    text-align: justify;
}

.container-grey{
    background: #333;
    color: white;
}